@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #B60117;
  --color-2: #F55A23;
  --color-3: #066F08;
  --color-4: #0163BB;
  --body-bg-color: #161B24;
  --body-bg-desktop-image: linear-gradient(to bottom,
      var(--color-1),
      var(--color-1) 25%,
      var(--color-2) 25%,
      var(--color-2) 50%,
      var(--color-3) 50%,
      var(--color-3) 75%,
      var(--color-4) 75%);
  --body-bg-mobile-image: linear-gradient(to right,
      var(--color-1),
      var(--color-1) 25%,
      var(--color-2) 25%,
      var(--color-2) 50%,
      var(--color-3) 50%,
      var(--color-3) 75%,
      var(--color-4) 75%);
  --font-family-serif: "IBM Plex Serif", serif;
  --font-family-sans-serif: "Poppins", sans-serif;
  --base-spacing: 16px;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background-image: var(--body-bg-desktop-image);
  background-color: var(--body-bg-color);
  background-size: var(--base-spacing);
  background-repeat: no-repeat;
  padding: calc(var(--base-spacing) * 3) calc(var(--base-spacing) * 5);
}

@media (max-width: 768px) {
  body {
    background-image: var(--body-bg-mobile-image);
    background-size: 100% var(--base-spacing);
    padding: calc(var(--base-spacing) * 2);
  }
}

body[data-path*="/blog"] {
  color: #1e1e1e;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-sans-serif);
  font-weight: 600;
  font-style: normal;
}

p {
  font-family: var(--font-family-serif);
  font-weight: 400;
  font-style: normal;
}
